<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Title -->
    <div class="navbar-header pull-left">
      <a href="/" class="navbar-brand">Nasser</a>
    </div>

    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav pull-right">
        <li><a routerLink="/home" routerLinkActive="active">main</a></li>
        <li><a routerLink="/job" routerLinkActive="active">Porfolio</a></li>
      </ul>
    </div>
  </div>
</nav>
